<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="collapse navbar-collapse d-flex justify-content-between align-content-center m-4"
    id="navbarSupportedContent">
    <h4 class="admin">ADMIN Locadora</h4>
    <a href="../" class="linkHome">Home</a>
    <button class="btn btn-outline-info my-sm-0" type="submit" (click)="saveMovie()">Salvar</button>
  </div>
</nav>
<div class="body mt-4 mb-4">
  <h3 *ngIf="!editando" class="text-center">Criar Filme</h3>
  <h3 *ngIf="editando" class="text-center">Editar Filme</h3>
  <form [formGroup]="movieForm" class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mt-3">
          Nome:
          <input type="text" formControlName="name" class="form-control">
        </div>
        <div class="col-12 col-md-6 mt-3">
          Categoria:
          <select formControlName="category_id" class="form-control">
            <option [value]="category.id" *ngFor="let category of categories">{{
              category.name
            }}</option>
          </select>
        </div>
        <div class="col-12 col-md-6 mt-3">
          Classificação:
          <select formControlName="rating_id" class="form-control">
            <option [value]="rating.id" *ngFor="let rating of ratings">{{
              rating.name
            }}</option>
          </select>
        </div>
        <div class="col-12 col-md-6 mt-3">
          Elenco:
          <textarea type="text" formControlName="cast" class="form-control"
            placeholder="Digite o nome separando-os por vírgula(,)"></textarea>
        </div>
        <div class="col-12 col-md-6 mt-3">
          Sinopse:
          <textarea type="text" formControlName="synopsis" class="form-control"></textarea>
        </div>

      </div>
    </div>
  </form>
</div>
