<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="collapse navbar-collapse d-flex justify-content-between align-content-center m-4"
    id="navbarSupportedContent">
    <h4 class="admin">ADMIN Locadora</h4>
    <div class="d-flex justify-content-center col-12 col-sm-8 col-md-8 col-lg-4">
      <input class="form-control mr-2" type="search" placeholder="Procure seu filme..." [(ngModel)]="movieSearch"
        aria-label="Search">
      <button class="btn btn-outline-info my-sm-0" type="submit" (click)="search()">Buscar</button>
    </div>
  </div>
</nav>

<div class="body mt-4 mb-4">
  <div class="row d-flex justify-content-between mt-3 mb-2">
    <p *ngIf="moviesFiltrados">
      Exibindo resultados para "{{movieSearch}}"
    </p>
    <p *ngIf="!moviesFiltrados">
      Exibindo todos os filmes
    </p>
    <button class="btn btn-outline-info my-sm-0" type="submit" [routerLink]="'../add'">Adicionar</button>
  </div>
  <div *ngIf="!loading && movies.length > 0" class="row d-flex justify-content-center">
    <div class="col-12 col-md-4 col-lg-3 p-3 filme" *ngFor="let movie of movies">
      <!-- <div class="capa">
        <img [src]="movie?.poster" width="100%">
      </div> -->
      <div class="p-3">
        <h6>
          {{movie?.name}}
        </h6>
        <h6>{{getNameCategory(movie?.category_id)}}</h6>
        <h6 class="leia pt-2" (click)="leiaMais(movie.id)">
          {{exibirInfo(movie?.id) ? 'Menos informações' : 'Mais informações'}}</h6>
        <div *ngIf="exibirInfo(movie?.id)">
          <ul>
            <li>
              <span class="titulo">Sinopse: </span> {{movie?.synopsis}}
            </li>
            <li>
              <span class="titulo">Classificação: </span> {{getNameRating(movie?.rating_id)}}
            </li>
            <li>
              <span class="titulo">Elenco: </span> {{movie?.cast}}
            </li>
            <li>
              <div class="d-flex justify-content-around align-content-justify-content-around pt-4">
                <img class="more-option" title="Excluir filme" (click)="removeMovie(movie.id)"
                  src="assets/images/cancel.png" alt="">
                <img class="more-option" title="Editar filme" [routerLink]="'../' + movie.id + '/edit'"
                  src="assets/images/edit.png" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="!loading && movies.length == 0">
    <h6>Não foram encontrados filmes</h6>
  </div>
  <!-- Button trigger modal -->

</div>
