p {
  font-size: 20px;
}

.filme {
  border-radius: 10px;
}

.leia {
  color: rgb(6, 4, 122);
  cursor: pointer;
}

span.titulo {
  font-weight: bold;
  font-size: 15px;
}

ul {
  padding: 0 !important;
}

li {
  list-style-type: none;
}

.filme:hover {
  background-color: rgb(240, 240, 240);
}

img.more-option {
  cursor: pointer;
  width: 30px;
}
